<!-- BEGIN: main -->
<style>
    .table-responsive>.table>tbody>tr>td {
        vertical-align: middle;
    }

    .table-responsive>.table>tbody>tr>th {
        vertical-align: middle;
    }
</style>
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
    integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="container-fuild">
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-primary">
                <div class="panel-heading bg-primary">
                    Danh Sách Dự Án
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center text-nowrap">STT</th>
                                    <th class="text-center text-nowrap">Tên dự án</th>
                                    <th class="text-center text-nowrap">Mã dự án</th>
                                    <th class="text-center text-nowrap">Tên Người Yêu Cầu</th>
                                    <th class="text-center text-nowrap">Email</th>
                                    <th class="text-center text-nowrap">Số Tiền Yêu Cầu</th>
                                    <th class="text-center text-nowrap">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- BEGIN: loop -->
                                <tr>
                                    <th class="text-center">{KEY}</th>
                                    <td class="text-center">{VALUE.ten_du_an}</td>
                                    <td class="text-center">{VALUE.ma_du_an}</td>
                                    <td>
                                        {VALUE.full_name}
                                    </td>
                                    <td>
                                        {VALUE.email_quyen_gop}
                                    </td>
                                    <td class="text-center">
                                        {VALUE.so_tien_quyen_gop}
                                    </td>
                                    <td class="text-center text-nowrap">
                                        <button class="history btn btn-success duyet" data-id="{VALUE.id}">Phê Duyệt</button>
                                        <button class="history btn btn-info" data-id="{VALUE.id}">Không Duyệt</button>
                                    </td>
                                </tr>
                                <!-- END: loop -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('body').on('click', '.duyet', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);

            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachyeucau&acpDuyet=1',
                type: 'post',
                data    : payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status) {
                        toastr.success(res.mess);
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    } else {
                        toastr.error(res.mess);
                    }
                },

            });
        });
    });
</script>
<!-- END: main -->