<!-- BEGIN: main -->
<style>
    .table-responsive>.table>tbody>tr>td {
        vertical-align: middle;
    }

    .table-responsive>.table>tbody>tr>th {
        vertical-align: middle;
    }
</style>
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
    integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="container-fuild">
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-primary">
                <div class="panel-heading bg-primary">
                    Danh Sách Dự Án
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center text-nowrap">STT</th>
                                    <th class="text-center text-nowrap">Tên dự án</th>
                                    <th class="text-center text-nowrap">Số tiền</th>
                                    <th class="text-center text-nowrap">Mô tả ngắn</th>
                                    <th class="text-center text-nowrap">Mô tả chi tiết</th>
                                    <th class="text-center text-nowrap">Hình ảnh</th>
                                    <th class="text-center text-nowrap">Thời hạn</th>
                                    <th class="text-center text-nowrap">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- BEGIN: loop -->
                                <tr>
                                    <th class="text-center">{KEY}</th>
                                    <td class="text-center">{VALUE.ten_du_an}</td>
                                    <td class="text-center">{VALUE.so_tien}</td>
                                    <td class="text-center">
                                        <button class="motangan btn btn-primary" data-id="{VALUE.id}"
                                            data-toggle="modal" data-target="#motangan">
                                            <em class="fa fa-sharp fa-solid fa-info"></em>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="motachitiet btn btn-primary" data-id="{VALUE.id}"
                                            data-toggle="modal" data-target="#motachitiet">
                                            <em class="fa fa-sharp fa-solid fa-info"></em>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <img src="{HINH_ANH}" style="width: 150px;">
                                    </td>
                                    <td class="text-nowrap text-center">{VALUE.thoi_han}</td>
                                    <td class="text-center text-nowrap">
                                        <button class="history btn btn-success ruttien" data-toggle="modal" data-target="#modalRutTien" data-id="{VALUE.id}">Yêu Cầu Rút Tiền</button>
                                        <button class="history btn btn-info" data-ma_du_an="{VALUE.ma_du_an}" data-tong_tien_can="{VALUE.so_tien}"
                                            data-toggle="modal" data-target="#lichsu">Lich su quyen gop</button>
                                    </td>
                                </tr>
                                <!-- END: loop -->
                            </tbody>
                        </table>
                    </div>
                    <div id="motachitiet" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mô tả chi tiết</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <p id="mo_ta_chi_tiet"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="motangan" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mô tả ngắn</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <p id="mo_ta_ngan"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="lichsu" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="lichsu" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Họ và tên</th>
                                                <th>Gmail quyen gop</th>
                                                <th>So tien</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modalRutTien" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Rút Tiền</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" id="id_rut" class="form-control">
                                        <div class="form-group">
                                            <label>Nhập số tiền cần rút</label>
                                            <input type="number" class="form-control" id="so_tien_can_rut">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="acpRut">Gởi Yêu Câù</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace('mo_ta_chi_tiet_edit');
    CKEDITOR.replace('mo_ta_ngan_edit');
</script>
<script>
    $(document).ready(function () {
        $('body').on('click', '.history', function () {
            var ma_du_an      = $(this).data('ma_du_an');
            var tong_tien_can = $(this).data('tong_tien_can');
            var payload = new FormData();
            payload.append('ma_du_an', ma_du_an);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&history=1',
                type: 'post',
                data: payload,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = res.list;
                    if (data.length == 0) {
                        var content = '';
                        content += '<tr>';
                        content += '<th>1</th>';
                        content += '<td>Chưa có </td>';
                        content += '<td>Chưa có</td>';
                        content += '<td>Chưa có</td>';
                        content += '</tr>';
                        $('#lichsu tbody').html(content);
                    } else {
                        var content = '';
                        var tong_tien_da_quyen_gop = 0;
                        $.each(data, function (k, v) {
                            content += '<tr>';
                            content += '<th>' + (k + 1) + '</th>';
                            content += '<td>' + v.full_name + '</td>';
                            content += '<td>' + v.email_quyen_gop + '</td>';
                            content += '<td>' + (v.tong_tien.toFixed(2) * 23000).toLocaleString() + '</td>';
                            content += '</tr>';
                            tong_tien_da_quyen_gop = tong_tien_da_quyen_gop + v.tong_tien;
                        });
                        content += '<tr>';
                        content += '<th colspan="3"><b>Số Tiền Cần Quyên Góp</b></th>';
                        content += '<td>' + tong_tien_can + '</td>';
                        content += '</tr>';
                        content += '<tr>';
                        content += '<th colspan="3"><b>Số Đã Nhận</b></th>';
                        content += '<td>' + tong_tien_da_quyen_gop + '</td>';
                        content += '</tr>';
                        $('#lichsu tbody').html(content);
                    }
                }
            });
        });

        $('body').on('click', '.motachitiet', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&motachitiet=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = JSON.parse(res);
                    console.log(data);
                    $("#mo_ta_chi_tiet").html(data.mo_ta_chi_tiet);
                }
            });

        });

        $('body').on('click', '.motangan', function () {
            var id = $(this).data('id');
            var payload = new FormData();
            payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsach&motangan=1',
                type: 'post',
                data: payload,
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = JSON.parse(res);
                    console.log(data);
                    $("#mo_ta_ngan").html(data.mo_ta_ngan);
                }
            });

        });

        $('body').on('click', '.ruttien', function () {
            $("#id_rut").val($(this).data("id"));
        });

        $("#acpRut").click(function() {
            var payload = new FormData();
                payload.append('id', $("#id_rut").val());
                payload.append('so_tien', $("#so_tien_can_rut").val());
                $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&ruttien=1', 
                type        : 'post',
                data        : payload, 
                dataType    : 'json',
                cache       : false,
                contentType : false,
                processData : false,
                success: function(res){
                    if(res.status) {
                        toastr.success(res.mess);
                        $('#modalRutTien').modal('hide');
                    } else {
                        toastr.error(res.mess);
                    }
                }
            });
        });
    });
</script>
<!-- END: main -->