<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary">
                Thông tin tài khoản
            </div>
            <div class="table-responsive" style="margin-left: 10px; margin-right: 10px;">
                <table class="table table-bordered">
                   <thead>
                    <tr class="text-center text-nowrap">
                        <th class="align-middle">#</th>
                        <th class="align-middle">Mã Dự Án</th>
                        <th class="align-middle">Tên Dự Án</th>
                        <th class="align-middle">Số tiền đóng góp</th>
                        <th class="align-middle">Link Dự Án</th>
                    </tr>
                   </thead>
                   <tbody>
                    <tr style="margin-bottom: 20px;">
                        <th class="align-middle text-center">1</th>
                        <th class="align-middle">Mã</th>
                        <th class="align-middle">Tên</th>
                        <th class="align-middle">19999</th>
                        <th class="align-middle text-center text-nowrap">
                            <button class="btn btn-primary">Đến dự án</button>
                        </th>
                    </tr>
                   </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>